.lang-switch {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #eee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  font-size: 1.5rem;
  user-select: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-weight: bold;
}

.lang-switch .active {
  filter: drop-shadow(0 0 4px #00f);
  transform: scale(1.1);
}